<!DOCTYPE html>
<html leng="kr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movilog - All of Movies | Theaters in Korea</title>
  <!-- link CSS only -->
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/addMovie.css">
  <link rel="stylesheet" href="/css/footer.css">
  <!-- CSS link -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap" rel="stylesheet">
  <!-- CSS Style -->
  <style>
        :root {
            --background-color:rgb(0, 0, 0);
            --nav-bar-color:rgba(0, 0, 0, 0.342);
            --webfont-color:rgb(211, 211, 211);
            --wf-hover-color: rgb(255, 255, 255);
        }
        body {
            overflow-x: hidden;
        }
        .wrap {
            min-width:870px;
            width:100vw;
            height:auto;
            font-family: 'Noto Sans KR', sans-serif;
            color:var(--webfont-color);
            background-color: var(--background-color);
        }
    </style>
</head>
<body>
<div class="wrap">
  <div class="header" role="navigation">
    <div class="headwp">
      <div class="navi" role="nav_inner">
        <ul class="list_nav">
          <li class="logo"><a href="/" style="font-weight:600;">MOVILOG</a></li>
          <li class="nav_content"><a href="/movies"><i class="uil uil-video"></i>영화별</a></li>
        </ul>
        <div class="find">
          <input type="text" placeholder="Search..." onclick="location.href='/movies/search'"><i class="uil uil-search"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="container" role="main">
    <section class="sec">
      <div class="mid_wrap">
        <div class="tbtitle">
          <span>영화 정보 추가 입력창</span>
        </div>
        <form action="/movies/create" method="post">
          <div class="addwrap">
            <div class="msgbox">
              <table>
                <tr>
                  <th><label for="name">영화명</label></th>
                  <td>
                    <input type="text" id="name" name="name" placeholder="제목을 입력하세요">
                  </td>
                </tr>
                <tr>
                  <th><label for="dname">감독명</label></th>
                  <td>
                    <input type="text" id="dname" name="dname" placeholder="감독명을 입력하세요">
                  </td>
                </tr>
                <tr>
                  <th><label for="actor">배우명</label></th>
                  <td>
                    <input type="text" id="actor" name="actor" placeholder="배우명을 입력하세요">
                  </td>
                </tr>
                <tr>
                  <th><label for="rdate">개봉일</label></th>
                  <td>
                    <input type="text" id="rdate" name="rdate" placeholder="16자리의 수로 입력하세요">
                  </td>
                </tr>
                <tr>
                  <th><label for="genre">장르</label></th>
                  <td>
                    <input type="text" id="genre" name="genre" placeholder="영화 장르를 입력하세요">
                  </td>
                </tr>
              </table>
            </div>
            <div class="acc_btn">
              <button type="submit">save</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
  <div class="footer" role="info">
    <section class="foo foo01">
      <i class="uil uil-database"></i>
      <span class="title">DB</span>
      <span class="desc">Created by Maria DB, IntelliJ</span>
    </section>
    <section class="foo foo02">
      <i class="uil uil-brush-alt"></i>
      <span class="title">Design</span>
      <span class="desc">Designed by Vanilla HTML5, CSS</span>
    </section>
    <section class="foo foo03">
      <i class="uil uil-brackets-curly"></i>
      <span class="title">Idea</span>
      <span class="desc">Copyright Team us</span>
    </section>
  </div>
</div>
</body>
</html>